.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    max-height: 300px;
}

.card img{
    width: 100%;
    max-width: 200px;
    height: auto;
    max-height: 200px;
    flex-grow: 1;
    /* background-color: rgb(252, 75, 75); */
}

.card.false{
    background-color: black;
}

.card.true{
    background-color: white;
    color: black;
}

.card.won{
    background-color: green;
}